//Сбросс стилей
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/*@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}*/
//------------------------------------------------------------------
//Основные цвета:#19C6FF#FFEE00#FF3368 треугольная гармония
//Побочные цвета:#33FF52#5400FF двойная сплит комплиментарная
//Палитра: #33FF52#5400FF#19C6FF#FFEE00#FF3368
body {
    display: grid;
    grid-template:
        ". drops ."20vh
        ". field ."80vh
        /20vw 60vw 20vw
    ;
    background: linear-gradient( 45deg, #C0FD51, #fbec5d, #CE5DFA, #8468FD);
    background-size: 400%;
    animation: body_background 40s linear infinite;
    //font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-family: "Comic Sans MS", cursive;
}

@keyframes body_background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.drops {
    grid-area: drops;
    justify-self: center;
    align-self: end;
    margin-bottom: 1vh;
    display: grid;
    grid-template:
        "drop_0    drop_1    drop_2    drop_3    drop_4    drop_5    drop_6"11vh
        /11vh      11vh      11vh      11vh      11vh      11vh      11vh   
    ;
}

@for $i from 0 through 6 {
    .drop_#{$i} {
        grid-area: drop_#{$i};
        padding: 0.7vh;
        cursor: pointer;
    }
}

.started {
    opacity: 0.3;
}

.started:hover {
    opacity: 1;
    -webkit-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
    -moz-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
    -ms-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
    -o-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
    filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
}

.started:active {
    -webkit-filter: drop-shadow(0.15vh 0.15vh 0.2vh rgba(0,0,0,1));
    -moz-filter: drop-shadow(0.15vh 0.15vh 0.2vh rgba(0,0,0,1));
    -ms-filter: drop-shadow(0.15vh 0.15vh 0.2vh rgba(0,0,0,1));
    -o-filter: drop-shadow(0.15vh 0.15vh 0.2vh rgba(0,0,0,1));
    filter: drop-shadow(0.15vh 0.15vh 0.2vh rgba(0,0,0,1));
}


.field {
    grid-area: field;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template:
        "field_0_0 field_0_1 field_0_2 field_0_3 field_0_4 field_0_5 field_0_6"11vh
        "field_1_0 field_1_1 field_1_2 field_1_3 field_1_4 field_1_5 field_1_6"11vh
        "field_2_0 field_2_1 field_2_2 field_2_3 field_2_4 field_2_5 field_2_6"11vh
        "field_3_0 field_3_1 field_3_2 field_3_3 field_3_4 field_3_5 field_3_6"11vh
        "field_4_0 field_4_1 field_4_2 field_4_3 field_4_4 field_4_5 field_4_6"11vh
        "field_5_0 field_5_1 field_5_2 field_5_3 field_5_4 field_5_5 field_5_6"11vh
        /11vh      11vh      11vh      11vh      11vh      11vh      11vh        
    ;
    z-index: 10;
    border: 2vh solid #19C6FF;
    border-radius: 5.5vh;
    outline: 4px solid #19C6FF;
    outline-offset: calc(-2vh - 3px);
    -webkit-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -moz-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -ms-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -o-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));    
}

@for $i from 0 through 5 {
    @for $j from 0 through 6 {
        .field_#{$i}_#{$j} {
            grid-area: field_#{$i}_#{$j};
            outline: 2px solid #19C6FF;
            outline-offset: -1px;
        }
    }
}

.added {
    position: relative;
    z-index: 5 !important;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 100vh 100vw;
    background-color: rgba(25, 198, 255, 0.1);
    z-index: 99;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.startScreen {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template:
        "settings rules" 80vh 
        /50vh     50vh      
    ;
    grid-column-gap: 10vh;
    grid-row-gap: 0vh;
}

.settings {
    margin: -5.1vh;
    padding: 5.1vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    background-color: #19C6FF;
    grid-area: settings;
}

.rules {
    margin: -5.1vh;
    padding: 5.1vh;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: #19C6FF;
    grid-area: rules;
}

fieldset {
    border: 2px solid black;
    border-radius: 2vh;
    padding: 1.5vh;
}

form input[type=text] {
    width:100%;
    padding:3vh;
    border-radius:2vh;
    border:0;
    box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
    height:3vh;
    outline:none;
    font-size: 3vh;
}

form input[type=radio] {
    position: fixed;
    top: -1000px;
    left: -1000px;
}

.settings p:first-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.rules p:first-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

p {
    line-height: 3vh;
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

form > p {
    margin-left: calc(1.5vh + 1px);
}

legend + p {
    margin-top: 0vh;
}

form legend {
    font-size: 3vh;
    font-weight: bold;
}

.radioCircle {
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: inline-block;
    margin-right: 1vh;
    box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
    cursor: pointer;
}

.radioCircle:hover {
    box-shadow:0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6);
}

.radioCircle:active {
    box-shadow:0.2vh 0.2vh 0.3vh rgba(0,0,0,1);
}

.radioCircle[data-color=red] {
    background-color: #FF3368;
    border: 2px solid #FF3368;
}

.radioCircle[data-color=yellow] {
    background-color: #FFEE00;
    border: 2px solid #FFEE00;
}

.radioCircle[data-color=green] {
    background-color: #33FF52;
    border: 2px solid #33FF52;
}

.radioCircle[data-color=purple] {
    background-color: #5400FF;
    border: 2px solid #5400FF;
}

.radioCircleSelected {
    border: 2px solid #000000!important;
}

form img {
    display: inline-block;
    height: 7vh;
    width: 7vh;
    margin-left: 12vh;
    -webkit-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -moz-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -ms-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -o-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    cursor: pointer;
}

form img:hover {
    -webkit-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -moz-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -ms-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -o-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6)); 
}

form img:active {
    -webkit-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -moz-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -ms-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -o-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1)); 
}

.opponentSelected {
    outline: 2px solid #000000;
    outline-offset: 2px;
}

form button {
    appearance: none;
    -webkit-appearance: none;
    padding: 1.5vh;
    border: none;
    background-color: #fff;
    //color: #ffffff;
    font-weight: 600;
    border-radius: 2vh;
    width: 100%;
    font-size: 3vh;
    margin-top: 1.5vh;
    box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
    cursor: pointer;
}

form button:hover {
    box-shadow:0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6);
}

form button:active {
    box-shadow:0.2vh 0.2vh 0.3vh rgba(0,0,0,1);
}