//Сбросс стилей
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
}

//Основные цвета:#19C6FF#FFEE00#FF3368 треугольная гармония
//Побочные цвета:#33FF52#5400FF двойная сплит комплиментарная
//Палитра: #33FF52#5400FF#19C6FF#FFEE00#FF3368

@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
    display: grid;
    grid-template:
        "score   drops ."20vh
        "buttons field links"80vh
        /20vw    60vw  20vw
    ;
    //background: linear-gradient( 45deg, #C0FD51, #fbec5d, #CE5DFA, #8468FD);
    background: linear-gradient( 45deg, #CE5DFA, #8468FD, #CE5DFA);
    background-size: 400%;
    animation: body_background 40s linear infinite;
    font-family: 'Neucha', cursive;
}

@keyframes body_background{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.drops {
    grid-area: drops;
    justify-self: center;
    align-self: end;
    margin-bottom: 1vh;
    display: grid;
    grid-template:
        "drop_0    drop_1    drop_2    drop_3    drop_4    drop_5    drop_6"11vh
        /11vh      11vh      11vh      11vh      11vh      11vh      11vh   
    ;
    user-select: none;
}

@for $i from 0 through 6 {
    .drop_#{$i} {
        grid-area: drop_#{$i};
        padding: 0.7vh;
        cursor: pointer;
    }
}

.started {
    opacity: 0.3;
}

.started:hover {
    opacity: 1;
    -webkit-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.6));
    -moz-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.6));
    -ms-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.6));
    -o-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.6));
    filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.6));
}

.started:active {
    -webkit-filter: drop-shadow(0.15vh 0.15vh 0.3vh rgba(0,0,0,0.9));
    -moz-filter: drop-shadow(0.15vh 0.15vh 0.3vh rgba(0,0,0,0.9));
    -ms-filter: drop-shadow(0.15vh 0.15vh 0.3vh rgba(0,0,0,0.9));
    -o-filter: drop-shadow(0.15vh 0.15vh 0.3vh rgba(0,0,0,0.9));
    filter: drop-shadow(0.15vh 0.15vh 0.3vh rgba(0,0,0,0.9));
}


.field {
    grid-area: field;
    justify-self: center;
    align-self: start;
    display: grid;
    grid-template:
        "field_0_0 field_0_1 field_0_2 field_0_3 field_0_4 field_0_5 field_0_6"11vh
        "field_1_0 field_1_1 field_1_2 field_1_3 field_1_4 field_1_5 field_1_6"11vh
        "field_2_0 field_2_1 field_2_2 field_2_3 field_2_4 field_2_5 field_2_6"11vh
        "field_3_0 field_3_1 field_3_2 field_3_3 field_3_4 field_3_5 field_3_6"11vh
        "field_4_0 field_4_1 field_4_2 field_4_3 field_4_4 field_4_5 field_4_6"11vh
        "field_5_0 field_5_1 field_5_2 field_5_3 field_5_4 field_5_5 field_5_6"11vh
        /11vh      11vh      11vh      11vh      11vh      11vh      11vh        
    ;
    z-index: 10;
    border: 2vh solid #19C6FF;
    border-radius: 5.5vh;
    outline: 0.3vh solid #19C6FF;
    outline-offset: calc(-2vh - 0.3vh);
    -webkit-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -moz-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -ms-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    -o-filter: drop-shadow(0.2vh 0.2vh 0.3vh  rgba(0,0,0,0.8));
    filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(0,0,0,0.8));
    box-shadow: 0.4vh 0.4vh 0.9vh 0.7vh rgba(0,0,0,0.1);
    user-select: none;
}

@for $i from 0 through 5 {
    @for $j from 0 through 6 {
        .field_#{$i}_#{$j} {
            grid-area: field_#{$i}_#{$j};
            outline: 2px solid #19C6FF;
            outline-offset: -1px;
        }
    }
}

.added {
    position: relative;
    z-index: 5 !important;
}

//Модальные окна
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: 100vh 100vw;
    background-color: rgba(25, 198, 255, 0.5);
    z-index: 200;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

//Стартовый экран, модальное окно с настройками и правиами
.startScreen {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template:
        "settings rules" 80vh 
        /25vw     25vw      
    ;
    grid-column-gap: 10vh;
    grid-row-gap: 0vh;
}

//Правила
.rules {
    margin: -5.1vh;
    padding: 5.1vh;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
    background-color: #19C6FF;
    grid-area: rules;
    p {
        font-size: 3vh;
    }
}

//Настройки
.settings {
    margin: -5.1vh;
    padding: 5.1vh;
    border-top-left-radius: 3vh;
    border-bottom-left-radius: 3vh;
    background-color: #19C6FF;
    grid-area: settings;
}

fieldset {
    border: 0.3vh solid black;
    border-radius: 2vh;
    padding: 1.5vh;
}

form {
    input[type=text] {
        width:100%;
        padding:3vh;
        border-radius:2vh;
        border:0;
        box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
        height:3vh;
        outline:none;
        font-size: 3vh;
    }

    input[type=radio] {
        position: fixed;
        top: -1000px;
        left: -1000px;
    }

    p {
        font-size: 3vh;
    }

    legend {
        font-size: 3vh;
        font-weight: bold;
    }

    button {
        margin-top: 1vh;
    }    
}

.settings p:first-child,
.rules p:first-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

p {
    line-height: 3vh;
    font-size: 1.7vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#VS {
    margin-left: calc(1.5vh + 1px);
}

legend + p {
    margin-top: 0vh;
}

.radioCircle {
    border-radius: 50%;
    width: calc(2.3vh + 1.2vw);
    height: calc(2.3vh + 1.2vw);
    display: inline-block;
    margin-right: 1vh;
    box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
    cursor: pointer;
}

.radioCircle:hover {
    box-shadow:0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6);
}

.radioCircle:active {
    box-shadow:0.2vh 0.2vh 0.3vh rgba(0,0,0,1);
}

.radioCircle[data-value=red] {
    background-color: #FF3368;
    border: 0.3vh solid #FF3368;
}

.radioCircle[data-value=yellow] {
    background-color: #FFEE00;
    border: 0.3vh solid #FFEE00;
}

.radioCircle[data-value=green] {
    background-color: #33FF52;
    border: 0.3vh solid #33FF52;
}

.radioCircle[data-value=purple] {
    background-color: #5400FF;
    border: 0.3vh solid #5400FF;
}

.radioCircleSelected {
    border: 0.3vh solid #000000!important;
}

.opponent {
    display: inline-block;
    height: 7vh;
    width: 4vw;
    margin-left: 6vw;
    -webkit-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -moz-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -ms-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    -o-filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    filter: drop-shadow(0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4));
    cursor: pointer;
}

.opponent:hover {
    -webkit-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -moz-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -ms-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    -o-filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6));
    filter: drop-shadow(0.3vh 0.3vh 0.3vh rgba(0,0,0,0.6)); 
}

.opponent:active {
    -webkit-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -moz-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -ms-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    -o-filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1));
    filter: drop-shadow(0.2vh 0.2vh 0.3vh rgba(1,1,1,1)); 
}

.opponentSelected {
    outline: 0.3vh solid #000000;
    outline-offset: 0.2vh;
}

button {
    padding: 1.5vh;
    border: none;
    background-color: #fff;
    font-weight: 600;
    border-radius: 2vh;
    width: 100%;
    font-size: 3vh;
    box-shadow:0.4vh 0.4vh 0.3vh rgba(0,0,0,0.4);
    cursor: pointer;
    height: 6vh;
}

button:hover {
    box-shadow:0.3vh 0.3vh 0.5vh rgba(0,0,0,0.7);
}

button:active {
    box-shadow:0.2vh 0.2vh 0.3vh rgba(0,0,0,1);
}
//Область buttons
.buttons {
    grid-area: buttons;
    background-color: #19C6FF;
    margin-bottom: 20vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
    position: relative;
    left: -21vw;
    z-index: 150;
    transition: left 0.5s linear;
    box-shadow: 0.2vh 0.2vh 0.7vh rgba(0,0,0,0.8);
}

.buttons button {
    margin: 5.25vh 3vh 5.25vh 3vh;
    width: calc(100% - 6vh);
}

.buttons button:nth-child(1) {
    margin-top: 10.5vh;
}

#showButtons {
    border-radius: 50%;
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: calc(27vh);
    margin: 0;
    margin-left: 2.5vw;
    transition: margin-left 0.5s linear;
    opacity: 1;
}

#showButtons:hover {
    opacity: 1!important;
}

#showButtons img {
    transform: rotate(0turn);
    transition: transform 0.5s linear;
}

//Область score
.score {
    grid-area: score;
    margin-top: 3vh;
    display: grid;
    grid-template:
        "player1Score"4vh
        "player2Score"4vh
        /45vh
    ;
    row-gap: 1vh;
}

#player1Score, #player2Score {
    font-size: 3vh;
    display: inline-block;
    padding: 0.4vh;
    margin-left: 3vh;
}

#player1Score {
    grid-area: player1Score;
    justify-self: start;
}
#player2Score {
    grid-area: player2Score;
    justify-self: start;
}

#player1Current, #player2Current {
    width: 4vh;
    height:4vh;
    display: inline-block;
    padding-top: 1vh;
    animation: currentPlayerAnimation 2s linear infinite;
}

@keyframes currentPlayerAnimation{
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(1.05,1.05);
    }
    50%{
        transform: scale(1,1);
    }
    75%{
        transform: scale(0.95,0.95);
    }
    100%{
        transform: scale(1,1);
    }
}

//Попап
.popup {
    position: absolute;
    width: 30vw;
    height: 30vh;
    background-color:rgba(25, 198, 255, 1);
    border-radius: 2vh;
    z-index: 250;
    margin-top: 35vh;
    margin-bottom: 35vh;
    margin-left: -100vw;
    margin-right: 35vw;
    box-shadow: 0.2vh 0.2vh 1.2vh rgba(0,0,0,0.8);
    transition: margin-left 0.3s linear;
}

.popup button {
    position: absolute;
    display: inline-block;
    width: 10vw;
    bottom: 4vh;
}

#popupYes {
    left: 3.3vw;
}

#popupNo {
    right: 3.3vw;
}

#popupQuestion {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#popupText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0vh 2vw;
}

//Экран окончания игры
.winScreen {
    display: none;
    grid-template:
        "winningPlayer"  20vh
        "info"           65vh
        "playAnotherGame"15vh
        /100vw     
    ;
    background-color: rgba(25, 198, 255, 0.9);
}

#winningPlayer {
    grid-area: winningPlayer;
}

#winChip {
    display: inline-block;
    height: 18vh;
    width: 18vh;
    margin-bottom: 1vh;
    margin-left: calc(49vw - 18vh - 9vh);
}

#winWord {
    display: inline-block;
    height: 20vh;
    width: 40vh;
    margin-left: 2vw;
}

.info {
    align-self: end;
    grid-area: info;
    display: flex;
    justify-content: center;
    margin: 0vh auto 3vh auto;
    font-weight: bold;
    font-size: 3vh;
}

#showField,
#playAnotherGame {
    grid-area: playAnotherGame;
    width: 20vw;
    height: 70%;
    justify-self: center;
}

#playAnotherGame {
    margin-right: 25vw;
}

#showField {
    margin-left: 25vw;
}

//Блок со ссылками
.links {
    grid-area: links;
    padding: 70vh 0vw 1.5vh 0vw;
}

.links p {
    display: flex;
    justify-content: center;
    font-size: 1.2vh;
    line-height: 1.5vh;
    margin: 0.2vh 0vh 0.5vh 0vh;
}

.mainLinks,
.otherLinksContainer {
    display: inline-block;
}

.otherLinks {
    display: flex;
    justify-content: center;
}

.otherLinks a {
    display: inline-block;
    height: 3.5vh;
    width: 3.5vh;
    padding: 0.4vh;
}

.otherLinks a:first-child {
    padding: 0vh;
}

.mainLinks a {
    margin-right: 1vw;
    display: inline-block;
    height: 5vh;
    width: 5vh;
}

.mainLinks {
    //top
    #animTop::before {
        content:"";
        width: 0vh;
        height: 1px;
        margin-top: -0.2vh;
        margin-left: -0.2vh;
        position: absolute;
        background: black;
    }
    //bottom
    #animBottom::before {
        content:"";
        width: 0vh;
        height: 1px;
        margin-top: 5.2vh;
        margin-left: -0.2vh;
        position: absolute;
        background: black;
    }
    //left
    ::before {
        content:"";
        width: 1px;
        height: 0vh;
        margin-top: -0.2vh;
        margin-left: -0.2vh;
        position: absolute;
        background: black;
    }
    //right
    #animRight::before {
        content:"";
        width: 1px;
        height: 0vh;
        margin-top: -0.2vh;
        margin-left: 5.2vh;
        position: absolute;
        background: black;
    }
}

.mainLinks:hover {
    #animTop::before {
        animation: animateTop 2s linear infinite;
        animation-delay: 0s;
    }
    #animBottom::before {
        animation: animateBottom 2s linear infinite;
        animation-delay: 0s;
    }
    ::before {
        animation: animateLeft 2s linear infinite;
        animation-delay: 0s;
    }
    #animRight::before {
        animation: animateRight 2s linear infinite;
        animation-delay: 0s;
    }
}

@keyframes animateTop{
    0%{
        width: 0vh;
        margin-left: -1px;
    }
    25%{
        width: 0vh;
        margin-left: -1px;
    }
    37.5%{
        width: calc(5.2vh + 2px);
        margin-left: -1px;
    }
    50%{
        width: 0vh;
        margin-left: calc(5.2vh + 1px);
    }
    62.5%{
        width: calc(5.2vh + 2px);
        margin-left: -1px;
    }
    75%{
        width: 0vh;
        margin-left: -1px;
    }
    100%{
        width: 0vh;
        margin-left: -1px;
    }
}

@keyframes animateBottom{
    0%{
        width: 0vh;
        margin-left: -1px;
    }
    12.5%{
        width: calc(5.2vh + 2px);
        margin-left: -1px;
    }
    25%{
        width: 0vh;
        margin-left: calc(5.2vh + 1px);
    }
    50%{
        width: 0vh;
        margin-left: calc(5.2vh + 1px);
    }
    75%{
        width: 0vh;
        margin-left: calc(5.2vh + 1px);
    }
    87.5%{
        width: calc(5.2vh + 2px);
        margin-left: -1px;
    }
    100%{
        width: 0vh;
        margin-left: -1px;
    }
}

@keyframes animateRight{
    0%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
    25%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
    37.5%{
        height: calc(5.2vh + 2px);
        margin-top: -1px;
    }
    50%{
        height: 0vh;
        margin-top: -1px;
    }
    62.5%{
        height: calc(5.2vh + 2px);
        margin-top: -1px;
    }
    75%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
    100%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
}

@keyframes animateLeft{
    0%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
    12.5%{
        height: calc(5.2vh + 2px);
        margin-top: -1px;
    }
    25%{
        height: 0vh;
        margin-top: -1px;
    }
    50%{
        height: 0vh;
        margin-top: -1px;
    }
    75%{
        height: 0vh;
        margin-top: -1px;
    }
    87.5%{
        height: calc(5.2vh + 2px);
        margin-top: -1px;
    }
    100%{
        height: 0vh;
        margin-top: calc(5.2vh + 1px);
    }
}

@media screen and (orientation:portrait) {
    body {
        grid-template:
            "score score score"9vh
            "buttons drops ."11vh
            "buttons field ."69vh
            "links links links"11vh
            / 7vw 86vw 7vw
        ;
    }

    .score {
        margin-top: 3vh;
        grid-template:
            "player1Score player2Score"4vh
            /35vw 35vw
        ;
        column-gap: 5vw;
    }
    
    #player1Score, #player2Score {
        font-size: 3.5vw;
        padding: 0.4vw;
        margin-left: 3vw;
    }
    
    #player1Current, #player2Current {
        width: 4vw;
        height:4vw;
        padding-top: 1vw;
    }

    .links {
        padding: 0vw 3vw 3vw 0vw;
        align-self: end;
        justify-self: end;
    }
    
    .links p {
        font-size: 1.8vw;
        line-height: 1.5vw;
        margin: 0.2vw 0vw 0.5vw 0vw;
    }

    .buttons {
        grid-area: buttons;
        margin-bottom: 20vh;
        margin-top: 20vh;
        border-bottom-right-radius: 2vh;
        border-top-right-radius: 2vh;
        left: -41vw;
        width: 40vw;
    }
    
    .buttons button {
        margin: 3.5vh 3vw 3.5vh 3vw;
        width: calc(100% - 6vw);
    }
    
    .buttons button:nth-child(1) {
        margin-top: 4.5vh;
    }
    
    #showButtons {
        border-radius: 50%;
        width: 6vw;
        height: 6vw;
        top: calc(20.5vh - 3vw);
        margin: 0;
        margin-left: 2.5vw;
        padding: 1.5vw;
    }

    .drops {
        margin-bottom: 1vw;
        grid-template:
            "drop_0    drop_1    drop_2    drop_3    drop_4    drop_5    drop_6"11vw
            /11vw      11vw      11vw      11vw      11vw      11vw      11vw   
        ;
    }
    
    @for $i from 0 through 6 {
        .drop_#{$i} {
            padding: 0.7vw;
        }
    }

    .started:hover {
        -webkit-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.6));
        -moz-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.6));
        -ms-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.6));
        -o-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.6));
        filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.6));
    }
    
    .started:active {
        -webkit-filter: drop-shadow(0.15vw 0.15vw 0.3vw rgba(0,0,0,0.9));
        -moz-filter: drop-shadow(0.15vw 0.15vw 0.3vw rgba(0,0,0,0.9));
        -ms-filter: drop-shadow(0.15vw 0.15vw 0.3vw rgba(0,0,0,0.9));
        -o-filter: drop-shadow(0.15vw 0.15vw 0.3vw rgba(0,0,0,0.9));
        filter: drop-shadow(0.15vw 0.15vw 0.3vw rgba(0,0,0,0.9));
    }

    .field {
        grid-template:
            "field_0_0 field_0_1 field_0_2 field_0_3 field_0_4 field_0_5 field_0_6"11vw
            "field_1_0 field_1_1 field_1_2 field_1_3 field_1_4 field_1_5 field_1_6"11vw
            "field_2_0 field_2_1 field_2_2 field_2_3 field_2_4 field_2_5 field_2_6"11vw
            "field_3_0 field_3_1 field_3_2 field_3_3 field_3_4 field_3_5 field_3_6"11vw
            "field_4_0 field_4_1 field_4_2 field_4_3 field_4_4 field_4_5 field_4_6"11vw
            "field_5_0 field_5_1 field_5_2 field_5_3 field_5_4 field_5_5 field_5_6"11vw
            /11vw      11vw      11vw      11vw      11vw      11vw      11vw        
        ;
        border: 2vw solid #19C6FF;
        border-radius: 5.5vw;
        outline: 0.3vh solid #19C6FF;
        outline-offset: calc(-2vw - 0.3vh);
        -webkit-filter: drop-shadow(0.2vw 0.2vw 0.3vw  rgba(0,0,0,0.8));
        -moz-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(0,0,0,0.8));
        -ms-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(0,0,0,0.8));
        -o-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(0,0,0,0.8));
        filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(0,0,0,0.8));
        box-shadow: 0.4vw 0.4vw 0.9vw 0.7vw rgba(0,0,0,0.1);
    }

    .popup {
        width: 60vw;
        margin-right: 20vw;
    }
    
    .popup button {
        width: 20vw;
        bottom: 4vh;
    }
    
    #popupYes {
        left: 6.6vw;
    }
    
    #popupNo {
        right: 6.6vw;
    }
    
    #popupQuestion,
    #popupText {
       font-size: 3.4vw;
    }
    
    #winChip {
        height: 18vw;
        width: 18vw;
        margin-left: calc(49vw - 18vw - 9vw);
        margin-bottom: 1vw;
    }
    
    #winWord {
        height: 20vw;
        width: 40vw;
    }
    
    .info {
        font-size: 3vw;
    }
    
    #showField,
    #playAnotherGame {
        font-size: 3vw;
    }
    
    .startScreen {
        grid-template:
            "settings"65vw
            "rules" 40vh 
            /90vw      
        ;
        grid-column-gap: 0vh;
        grid-row-gap: 0vh;
    }
    
    .settings {
        margin: 2.5vw 2.5vw 0vw 2.5vw;
        padding: 2.5vw;
        border-top-left-radius: 3vh;
        border-top-right-radius: 3vh;
        border-bottom-left-radius: 0vh;
        
        p:first-child {
            font-size: 3vw;
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
    }

     .rules {
        margin: 0vw 2.5vw 2.5vw 2.5vw;
        padding: 2.5vw;
        border-top-right-radius: 0vh;
        border-bottom-right-radius: 3vh;
        border-bottom-left-radius: 3vh;

        p:first-child {
            font-size: 3vw;
        }

        p {
            font-size: calc(1vw + 1vh);
            margin: 0vh;
            margin-top: 0.5vw;
        }
    }
    
    fieldset {
        border: 0.3vw solid black;
        border-radius: 2vw;
        padding: 1.5vw;
        
        p:nth-child(4) {
            margin: 0vh !important;
            position: relative;
            bottom: 0.5vh;
        }
    }
    
    form {
        input[type=text] {
            display: inline-block;
            width:75%;
            margin: 0vw 5vw 0vw 5vw;
            padding:3vw;
            box-shadow:0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4);
            height: 3vh;
            font-size: 3vw;
        }
    
        p {
            display: inline-block;
            font-size: 3vw;
        }
    
        legend {
            font-size: 3vw;
        }
    
        button {
            margin-top: 1vh;
            padding: 1.5vw;
            width: 40%;
            font-size: 3vw;
            height: 6vw;
            display: inline-block;
            position: relative;
            left: 3vw;
            bottom: 2vw;
        }    
    }
    
    p {
        line-height: 3vw;
    }
    
    #VS {
        position: relative;
        bottom: 2vw;
        margin-left: calc(1.5vw + 1px);
    }
    
    legend + p {
        margin-top: 0vw;
    }
    
    .radioCircle {
        border-radius: 50%;
        width: calc(2.3vw + 1.2vh);
        height: calc(2.3vw + 1.2vh);
        margin-left: 1vw;
        margin-right: 0vw;
        box-shadow:0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4);
        margin-top: 1vh;
    }
    
    .radioCircle:hover {
        box-shadow:0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6);
    }
    
    .radioCircle:active {
        box-shadow:0.2vw 0.2vw 0.3vw rgba(0,0,0,1);
    }
    
    .radioCircle[data-value=red] {
        border: 0.3vw solid #FF3368;
    }
    
    .radioCircle[data-value=yellow] {
        border: 0.3vw solid #FFEE00;
    }
    
    .radioCircle[data-value=green] {
        border: 0.3vw solid #33FF52;
    }
    
    .radioCircle[data-value=purple] {
        border: 0.3vw solid #5400FF;
    }
    
    .radioCircleSelected {
        border: 0.3vw solid #000000!important;
    }

    .opponent {
        margin-top: 1vh;
        height: 7vw;
        width: 4vh;
        margin-left: 3vw;
        -webkit-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4));
        -moz-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4));
        -ms-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4));
        -o-filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4));
        filter: drop-shadow(0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4));
    }
    
    .opponent:hover {
        -webkit-filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6));
        -moz-filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6));
        -ms-filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6));
        -o-filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6));
        filter: drop-shadow(0.3vw 0.3vw 0.3vw rgba(0,0,0,0.6)); 
    }
    
    .opponent:active {
        -webkit-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(1,1,1,1));
        -moz-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(1,1,1,1));
        -ms-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(1,1,1,1));
        -o-filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(1,1,1,1));
        filter: drop-shadow(0.2vw 0.2vw 0.3vw rgba(1,1,1,1)); 
    }
    
    .opponentSelected {
        outline: 0.3vw solid #000000;
        outline-offset: 0.2vw;
    }
    
    button {
        box-shadow:0.4vw 0.4vw 0.3vw rgba(0,0,0,0.4);
    }
    
    button:hover {
        box-shadow:0.3vw 0.3vw 0.5vw rgba(0,0,0,0.7);
    }
    
    button:active {
        box-shadow:0.2vw 0.2vw 0.3vw rgba(0,0,0,1);
    }
}

@media (max-height: 414px) and (max-width: 896px){
    .field {
        outline: 0.3vh solid #19C6FF;
    }
    .started:hover {
        opacity: 0.3;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    } 
}
@media (max-height: 896px) and (max-width: 414px){
    .field {
        outline: 0.3vh solid #19C6FF;
    }
    .started:hover {
        opacity: 0.3;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
    }    
}